<footer class="footer">
  <%= t ".des_html" %>
  <nav>
    <ul>
        <li><%= link_to t('.about'), about_path %></li>
        <li><%= link_to t('.contact'), contact_path %></li>
        <li><a href="https://news.railstutorial.org/"><%= t ".news" %></a></li>
        <li><%= link_to "En", locale:"en" %></li>
        <li><%= link_to "Vi", locale:"vi" %></li>
    </ul>
  </nav>
</footer>
